html, body{
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border: 4px solid black;
    background-image: url(Map.png);
    background-position: center;
    background-size: 76%;
    background-repeat: no-repeat;
}